header
	h1 View 2
hr.large
.doc-secion.clearfix
	input(ng-model='name')
	p Hello {{ name }}, this is view 2.
	
	p
		| Showing of 'interpolate' filter:
		| {{ 'Current version is v%VERSION%.' | interpolate }}
