header
	h1 View 1
hr.large
.doc-secion.clearfix
	input(ng-model='name')
	p Hello {{ name }}, this is view 1.
	
	p Scroll down to see a demonstration of the nav pane floating.
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	p It worked!