header
	h1 View 1
hr.large
.doc-secion.clearfix
	input(ng-model='name')
	p Hello {{ name }}, this is view 1.

	p Hello {{ name }}, this is view 1. 
	p Hello {{ name }}, this is view 1. 
	p Hello {{ name }}, this is view 1. 
	p Hello {{ name }}, this is view 1. 
	p Hello {{ name }}, this is view 1. 
	p Hello {{ name }}, this is view 1. 
	p Hello {{ name }}, this is view 1. 
	p Hello {{ name }}, this is view 1. 
	p Hello {{ name }}, this is view 1. 
	p Hello {{ name }}, this is view 1. 
	p Hello {{ name }}, this is view 1. 
	p Hello {{ name }}, this is view 1. 
	p Hello {{ name }}, this is view 1. 
	p Hello {{ name }}, this is view 1. 
	p Hello {{ name }}, this is view 1. 
	p Hello {{ name }}, this is view 1. 
	p Hello {{ name }}, this is view 1. 
	p Hello {{ name }}, this is view 1. 
	p Hello {{ name }}, this is view 1. 
	p Hello {{ name }}, this is view 1. 
	p Hello {{ name }}, this is view 1. 
	p Hello {{ name }}, this is view 1. 
	p Hello {{ name }}, this is view 1. 