/* #Font-Face
================================================== */
/*	This is the proper syntax for an @font-face file 
	Necessary files are included. Feel free to uncomment this and use it! */

/* @font-face
		font-family 'OpenSans-Regular'
			 url('/font/OpenSans-Regular.woff') format('woff')
			 url('/font/OpenSans-Regular.ttf') format('truetype')
		font-weight normal
		font-style normal
*/