//- HTML 5
!!! 5

html(lang="en")
  head
    //- Lets set up our page a bit.
      ==========================================================================
    title Node Express Angular Coffee Bootstrap - Template
    meta(http-equiv="Content-Type",content="text/html; charset=UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="A simple template with Angular JS running through Express with Connect-Assets and a focus on Coffee Script for scripting, stylus for templating, and Stylus for stylesheets.")
    meta(name="author", content="Joerg Kuetemeier")

    != css("lib/bootstrap.min")

    style(type="text/css")
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }

      .sidebar-nav {
        padding: 9px 0;
      }

    != css("lib/bootstrap-responsive.min")

    //- HTML5 shim, because IE's are horrible.
    //if lt IE 9
    script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
    != js("lib/angular-ui-0.2.0/angular-ui-ieshiv.min")

    //- Include our Stylesheets. See /assets/css.
      ==========================================================================
    != css("lib/angular-ui-0.2.0/angular-ui.min")
    != css("fonts")

    link(rel="apple-touch-icon-precomposed", sizes="144x144", href="/img/apple-touch-icon-144.png")
    link(rel="apple-touch-icon-precomposed", sizes="114x114", href="/img/apple-touch-icon-114.png")
    link(rel="apple-touch-icon-precomposed", sizes="72x72", href="/img/apple-touch-icon-72.png")
    link(rel="apple-touch-icon-precomposed", href="/img/apple-touch-icon-57-precomposed.png")
    link(rel="shortcut icon", href="/favicon.ico")

    //- The content of our page.
      ==========================================================================
    body

      .navbar.navbar-inverse.navbar-fixed-top
        .navbar-inner
          .container-fluid
            a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.brand(href="#") N-E-A-C-B Template
            .nav-collapse.collapse
            p.navbar-text.pull-right
              Logged in as
                a.navbar-link(href="#") Username
            ul.nav
              li.active
                a(ng-href='/') Home
              li
                a(ng-href='/view1') View 1
              li
                a(ng-href='/view2') View 2

      //- Angular's views go in this div element.
        ==========================================================================
      .container-fluid(ng-view)
        //- Loading Screen
          ========================================================================
        p Loading the Application...

      //- Demonstrating filters and services with a simple version example.
      .container-fluid
        h2 Filter and Services
        App Version: v
        span(app-version)

        .row-fluid

          .span9

            .hero-unit
              h1 Uuuuups, Error!
              p.
                This is a template for a simple marketing or informational website.
                It includes a large callout called the hero unit and three supporting
                pieces of content. Use it as a starting point to create something more unique.
              p
                a.btn.btn-primary.btn-large Learn more &raquo;

            .row-fluid
              .span4
                h2 Heading
                p.
                  Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac
                  cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit
                  amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                p
                  a.btn(ng-href='#') View details &raquo;

              .span4
                h2 Heading
                p.
                  Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac
                  cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit
                  amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                p
                  a.btn(ng-href='#') View details &raquo;

              .span4
                h2 Heading
                p.
                  Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus
                  commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                  Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                p
                  a.btn(ng-href='#') View details &raquo;

            .row-fluid
              .span4
                h2 Heading
                p.
                  Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus
                  commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                  Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                p
                  a.btn(ng-href='#') View details &raquo;

              .span4
                h2 Heading
                p.
                  Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus
                  commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                  Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                p
                  a.btn(ng-href='#') View details &raquo;

              .span4
                h2 Heading
                p.
                  Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus
                  commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                  Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                p
                  a.btn(ng-href='#') View details &raquo;

          .span3
            .well.sidebar-nav
              ul.nav.nav-list
                li.nav-header Sidebar
                li.active
                  a(ng-href='/view1') View 1
                li
                  a(ng-href='/view2') View 2
                li
                  a(ng-href='#') Link
                li
                  a(ng-href='#') Link
                li.nav-header Sidebar
                li
                  a(ng-href='#') Link
                li
                  a(ng-href='#') Link
                li
                  a(ng-href='#') Link
                li
                  a(ng-href='#') Link
                li.nav-header Sidebar
                li
                  a(ng-href='#') Link
                li
                  a(ng-href='#') Link
                li
                  a(ng-href='#') Link
                li
                  a(ng-href='#') Link

    .container-fluid.row-fluid
      hr

      footer
        p
          &copy; Company 2012

  //- Include our Scripts. See /assets/js.
    ============================================================================
  //- Load jQuery
  != js("lib/jquery.min")
  //- Load Bootstrap
  != js("lib/bootstrap.min")
  //- Load Angular
  != js("lib/angular-1.0.3/angular.min")
  != js("lib/angular-ui-0.2.0/angular-ui.min")
  //- Load Angular Configuration
  != js("app")
  != js("controllers")
  != js("directives")
  != js("filters")
  != js("services")
