.well.sidebar-nav
  ul.nav.nav-list
    li.nav-header Sidebar
    li.active
      a(ng-href='/view1') View 1
    li
      a(ng-href='/view2') View 2
    li
      a(ng-href='/ng-grid') NG-Grid
    li
      a(onclick="window.location = '/this-will-be-not-found.html'") Test 404
    li
      a(onclick="window.location = '/login'") Login
    li.nav-header Sidebar
    li
      a(onclick="window.location = '/logout'") Logout
    li
      a(href='/account', target="_self") Account
    li
      a(ng-href='#') Link
    li
      a(ng-href='#') Link
    li.nav-header Sidebar
    li
      a(ng-href='#') Link
    li
      a(ng-href='#') Link
    li
      a(ng-href='#') Link
    li
      a(ng-href='#') Link
