extends html5-bootstrap-with-angular

block body
  include ../includes/top-navigation

  //- Angular's views go in this div element.
  //- ==========================================================================
  .container-fluid(ng-view)
    //- Loading Screen
    //- ========================================================================

    block content
      p Loading the Application...

  block footer
    include ../includes/footer